* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: rgb(0, 0, 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: space-evenly;
}

.image {
  width: 200px;
  height: 200px;
}

@import url(../Styles/Navbar.css);
@import url(../Styles/Content.css);
@import url(../Styles/Tasks.css);
